<html>
<head>
  <title>Demo Developers SCB</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="./">Demo Developers SCB</a>
            <ul class="nav navbar-nav">
            <li class="active">
                <a href="./">Home</a>
            </li>
            <li>
                <a href="./authorize">Authorize</a>
            </li>
            <li>
                <a href="./token">Token</a>
            </li>
            <li>
                <a href="./payment">Payment</a>
            </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron"  style="padding:40px;">
            <h1>Developers SCB</h1>
            <p>This example is not related to developer.scb. It's just only prepared as an example</p>
            <p><a class="btn btn-primary btn-lg" href="https://developer.scb/#/home" target="_blank" role="button">developer.dev docs</a></p>
        </div>
    </div>
</body>
</html>